<div>
  <h1>Update Product</h1>
    <div class="purple">
      <p *ngFor="let error of errors">{{error}}<br></p>
    </div>
    <form (submit)="editProduct()">
      <label for="name">Name </label>
      <!-- <input *ngIf="!isReset" id ="name" type="text" name="currentProduct.name" [(ngModel)]="currentProduct.name" required minlength="3" #name="ngModel" [placeholder]="currentProduct.name"><br> -->
      <input id ="name" type="text" name="currentProduct.name" [(ngModel)]="currentProduct.name" required minlength="3" #name="ngModel" value="currentProduct.name" placeholder="currentProduct.name"><br>
      <label for="number">Qty </label>
      <input id="number" type="number" name="currentProduct.quantity" required min="0" #quantity="ngModel" [(ngModel)]="currentProduct.quantity" value="currentProduct.quantity" placeholder="currentProduct.quantity"><br>
      <label for="price">Price </label>
      <input type="number" id="price" name="currentProduct.price" required min="0" #price="ngModel" [(ngModel)]="currentProduct.price" value="currentProduct.price" placeholder="currentProduct.price"><br>
      <button *ngIf="!name.valid || !quantity.valid || !price.valid" disabled type="submit">Update</button>
      <button *ngIf="name.valid && quantity.valid && price.valid" type="submit">Update</button>
      
    </form>
    <button (click)="resetFields()">Reset</button>
    <a href="/products"><button>Cancel</button></a> 
    <div *ngIf="!name.valid">
      <div *ngIf="name.errors.required">
        The name field is required!
      </div>
      <div *ngIf="name.errors.minlength">
        The name must be at least 3 letters.
      </div>
    </div>
    <div *ngIf="!quantity.valid">
      <div *ngIf="quantity.errors.required">
        The Quantity field is required!
      </div>
      <div *ngIf="quantity.errors.min">
        The quantity must be greater than or equal to 0
      </div>
    </div>
    <div *ngIf="!price.valid">
      <div *ngIf="price.errors.required">
        The price field is required!
      </div>
      <div *ngIf="price.errors.min">
          The price must be greater than or equal to 0
      </div>
  </div>